@import url(../fonts/iransanse/IRANSans-web.css);
* {
  margin: 0;
  padding: 0;
  font-family: "IRANSans";
  box-sizing: border-box;
}
body {
  direction: rtl;
}

.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  background: #f86629;
  transition: 0.5s;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 70px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  margin-right: 40px;
  text-decoration: none;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .text_box {
  position: relative;
  max-width: 600px;
}
.content .text_box h2 {
  color: #fff;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 900;
}
.content .text_box h2 span {
  font-size: 1.3em;
}
.content .text_box p {
  color: #fff;
}
.content .text_box a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background-color: #fff;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  text-decoration: none;
}
.content .image_box {
  width: 600px;
  display: flex;
  padding-left: 100px;
  margin-top: 50px;
  justify-content: flex-end;
}
.content .image_box img {
  max-width: 260px;
}
.thumbnails {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  display: flex;
}
.thumbnails li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumbnails li:hover {
  transform: translateY(-15px);
}
.thumbnails li img {
  max-width: 40px;
}
.social_media {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social_media li {
  list-style: none;
}
.social_media li a {
  display: inline-block;
  filter: invert(1);
  margin: 5px 0;
  transform: scale(0.6);
}
